In [15]:
import pandas 
jmena = pandas.read_csv("jmena.csv")
jmena

        jméno  četnost  věk pohlaví        svátek      původ
0        Jiří   296090   49       m          24.4      řecký
1         Jan   293938   40       m   24.6. a 6.7  hebrejský
2        Petr   272135   42       m  22.2. a 29.6      řecký
3        Jana   264944   50       ž          24.5  hebrejský
4       Marie   260526   65       ž          12.9  hebrejský
..        ...      ...  ...     ...           ...        ...
95   Jindřich    26230   51       m          15.7    německý
96  Vlastimil    26014   54       m          17.3  slovanský
97        Iva    26003   46       ž          1.12  slovanský
98      Miloš    25509   53       m          25.1  slovanský
99     Zdenka    25416   68       ž          23.6  slovanský

[100 rows x 6 columns]

In [ ]:
jmena.columns = ["jmeno", "cetnost", "vek", "pohlavi", "svatek", "puvod"]
jmena[jmena["věk"] > 60]

In [ ]:
jmena[(jmena["četnost"] > 80_000) & (jmena["četnost"] < 100_000)]

In [16]:
vybrana_jmena = jmena[jmena["původ"].isin(["slovanský", "hebrejský"])]
# print(vybrana_jmena[["jméno", "četnost"]])

print(f"Jmen je {vybrana_jmena.shape[0]}.")

Jmen je 52.

In [18]:
vybrana_jmena = jmena[~jmena["původ"].isin(["slovanský", "hebrejský"])]

In [ ]:
prosinec_jmena = jmena[jmena["svátek"].isin(["1.12", "2.12", "3.12"])]

print(prosinec_jmena[["jméno", "svátek"]].sort_values("svátek"))

## Kontrola: 3.12 má podle kalendře svátek Svatoslav
# jmena[jmena["jméno"]=="Svatoslav"] ## v tabulce Svatoslava nemáme

https://kodim.cz/analyza-dat/python-data-1/python-pro-data-1/podmineny-vyber/podmineny-vyber

https://kodim.cz/analyza-dat/python-data-1/python-pro-data-1/podmineny-vyber/podmineny-vyber/ceska-jmena-2

https://kodim.cz/analyza-dat/python-data-1/python-pro-data-1/agregace-a-spojovani/pokrocile-upravy

https://kodim.cz/analyza-dat/python-data-1/python-pro-data-1/nacteni-dat/nacteni-dat